body {
    background-color: rgba(33, 37, 41, 0.975);
    color: aliceblue;
}

button {
    margin-right: 15px;
}

nav {
    background-color: black;
    border-bottom: 1px solid white;
    border-style: dashed;
}

footer {
    border-top: 1px solid white;
    border-style: dashed;
    color: white;
    align-items: center;
    justify-content: center;
}

#name {
    padding-top: 10px;
}
div {
    color: white;
    border: 1px solid white;
}

#navbar-icon {
    padding-left: 15px;
}

#circle {
    background-color: red;
    border-top-right-radius: 100vh;
    border-top-left-radius: 100vh;
}

label {
    padding: 5px;
}

form {
    background-color: red;
}