body {
    background-color: rgba(33, 37, 41, 0.975);
    color: aliceblue;
}

button {
    margin-right: 15px;
}

nav {
    background-color: black;
    border-bottom: 1px solid white;
    border-bottom: solid;
}

footer {
    border-top: 1px solid white;
    border-style: solid;
    color: white;
}

#name {
    padding-top: 10px;
}

#navbar-icon {
    padding-left: 15px;
}

#background {
    background-color: rgb(184, 154, 59);
    height: 70vh;
}

#floor {
    background-color: rgb(235, 203, 98);
    height: 20vh;
}

label {
    padding: 5px;
}

#complaint {
    background-color: rgb(167, 167, 167);
    width: fit-content;
    padding: 7px;
    border-radius: 4px;
    border-color: pink;
    border-width: 15px;
}

#reportContent {
    margin-top: 5px;
    display: grid;
    justify-content: center;
    text-align: center;
}