body {
    background-color: rgba(33, 37, 41, 0.975);
}

img {
    margin-left: 20px;
}

button {
    margin-right: 15px;
}

nav {
    background-color: black;
    border-bottom: 1px solid white;
    border-style: dashed;
}